/* === BODY zentriert alles === */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #eeeeee;
    font-family: sans-serif;
}


/* === Kamera-Viewport (16:9, 90% Breite) === */
#cameraContainer {

    position: absolute;
    width: 1000px;  /* gewünschte Breite */
    height: 1000px; /* gleiche Höhe = Quadrat */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255); /* optional, nur zur Kontrolle */


    border-radius: 12px;
    background: #00000022;  /* leichtes Grau zum Testen, kannst du löschen */

    margin-top: 30%;
}


/* === Video proportional einpassen === */
#video {
    position: relative;   /* damit z-index wirkt */
    z-index: 2000;        /* höher als alles andere (999) */
    width: 100%;
    height: 100%;
    object-fit: cover;  /* kein Verzerren */
    transform: scaleX(-1); /* Horizontal spiegeln */
}

/* === Canvas für Zeichnungen über dem Video === */
#canvas {
    display: none;   /* Canvas unsichtbar */
}



/* === Text über Video === */
#output {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 40px;
    font-weight: bold;
    color: rgb(11, 11, 130);

    background: rgba(255,255,255,0.7);
    padding: 8px 16px;
    border-radius: 8px;
    z-index: 10;

    position: absolute;
    z-index: 2100; /* höher als Video */
}












/* BLAU*/
h1 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(11, 11, 130);
    text-align: center;
    font-family: sans-serif;
}

/* BEIGE*/
h2 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(246, 222, 208);
    text-align: center;
    font-family: sans-serif;
}

/* LILA*/
h3 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(216, 208, 255);
    text-align: center;
    font-family: sans-serif;
}

/* ROT*/
h4 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(170, 38, 36);
    text-align: center;
    font-family: sans-serif;
}



.page {
    position: relative;     /* Kinder absolut positionieren relativ zu Page */
    width: 1668px;
    height: 2224px;
    background: rgb(247, 247, 247);
}


#page1 {
    display: block; /* Startseite sichtbar beim Laden */
}

/* KAPITEL 1 SMALLTALK */
#page7,
#page8, 
#page9,
#page10,
#page11,
#page12,
#page13,
#page14,
#page15,
#page16,
#page43,
#page44 {
    background: rgb(216, 208, 255);
}

/* KAPITEL 2 VERSTÄNDLICHKEIT */
#page18, 
#page19,
#page20,
#page21,
#page22,
#page23,
#page24,
#page25,
#page26,
#page27,
#page45,
#page46,
#page47,
#page48,
#page49,
#page50,
#page51,
#page52 {
    background: rgb(170, 36, 38);
}

/* KAPITEL 3 VORLIEBEN */
#page28, 
#page29,
#page30,
#page31,
#page32,
#page33,
#page34,
#page35,
#page36,
#page37,
#page53,
#page54,
#page55,
#page56 {
    background: rgb(11, 11, 130);
}

/* KAPITEL 4 NOTFALL */
#page38,
#page39, 
#page40,
#page41 {
    background: rgb(246, 222, 208);
}




/*////////////////////////////////////////////////////////////////*/
.icon_pfeil_back {
    width: 200px;
    position: absolute;
    top: 60px;
    left: 100px;
    cursor: pointer;
}

.icon_pfeil_vor {
    width: 200px;
    position: absolute;
    top: 60px;
    right: 100px;
    cursor: pointer;
}

.icon_Otto {
    width: 1100px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 350px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    z-index: 999;
}



/*/////////////////////////////////////////////////////////////////*/
/* ICONS KAPITEL*/

.Icon_Smalltalk {
    width: 1100px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 100px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}

.Icon_Verstaendlichkeit {
    width: 1100px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 550px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}

.Icon_Vorlieben {
    width: 1100px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1000px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}

.Icon_Notfall {
    width: 1100px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1450px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}







/*ICONS TOOLBAR///////////////////////////////////////////////////////*/
.icon_Haus {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 15%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Hut {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 32.5%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Kapitel {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 50%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Hand {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 67.5%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Profil {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 85%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.Balken {
    width: 100%;
    position: absolute;    
    bottom: 1px;           
    left: 50%;             
    transform: translateX(-50%);
    z-index: 998;

}





.videoGross {
    width: 1000px;
    position: absolute;   
    top: 350px;            
    left: 50%;             
    transform: translateX(-50%);
    z-index: 999;
}


.videoKlein {
    width: 500px;
    position: absolute;   
    top: 200px;            
    left: 50%;             
    transform: translateX(-50%);
    z-index: 999;
}