/* === BODY zentriert alles === */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #eeeeee;
    font-family: sans-serif;
}



video {
    display: block !important;
}


/* === Kamera-Viewport (16:9, 90% Breite) === */
#cameraContainer {

    position: absolute;
    width: 1000px;  /* gewünschte Breite */
    height: 1000px; /* gleiche Höhe = Quadrat */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255); /* optional, nur zur Kontrolle */
    z-index: 998;

    border-radius: 12px;
    background: #00000022;  /* leichtes Grau zum Testen, kannst du löschen */

    margin-top: 12%;
}


/* === Video proportional einpassen === */
#video {
    position: absolute;
    top: -1px;   /* <--- FIX */
    left: -1px;  /* <--- FIX */
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
    transform: scaleX(-1);
    z-index: 2000;
}

/* === Canvas für Zeichnungen über dem Video === */
#canvas {
    display: none;   /* Canvas unsichtbar */
}



/* === Text über Video === */
#output {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 60px;
    font-weight: bold;
    color: rgb(11, 11, 130);

    background: rgba(255,255,255);
    padding: 8px 16px;
    border-radius: 12px;
    z-index: 10;

    position: absolute;
    z-index: 2100; /* höher als Video */

    border: 5px solid rgb(11, 11, 130);
}


#output.transparentOutput {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 60px;
    font-weight: bold;
    color: rgb(11, 11, 130, 0.4);

    background: rgba(255,255,255,0.4);
    padding: 8px 16px;
    border-radius: 12px;
    z-index: 10;

    position: absolute;
    z-index: 2100; /* höher als Video */

    border: 5px solid rgb(11, 11, 130, 0.4);
}











/* BLAU Normal*/
h1 {
    position: relative;
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(11, 11, 130);
    text-align: center;
    font-family: sans-serif;
    z-index: 999;
}


/* BLAU Kapitel animation*/
h6 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(11, 11, 130);
    text-align: center;
    font-family: sans-serif;
}



/* BEIGE*/
h2 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(246, 222, 208);
    text-align: center;
    font-family: sans-serif;
}

/* LILA*/
h3 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(216, 208, 255);
    text-align: center;
    font-family: sans-serif;
}

/* ROT*/
h4 {
    font-size: 55px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(170, 38, 36);
    text-align: center;
    font-family: sans-serif;
}

/* ZWISCHENOTTO Blau (weiter oben)*/
h5 {
    font-size: 55px;
    margin-top: 175px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(11, 11, 130);
    text-align: center;
    font-family: sans-serif;
    position: relative;
    z-index: 999;
}








/* Blau, unter Animation*/
.h7 {
    position: relative;
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1250px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    z-index: 999;
    color: rgb(11, 11, 130);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}

/* Blau, über Kamera Animation*/
.h8 {
   
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 700px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: rgb(11, 11, 130);
    text-align: center;
    line-height: 1.2;  
    z-index: 999;
}




/* BEIGE, unter Animation*/
.h9 {

    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1250px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    z-index: 999;
    color: rgb(246, 222, 208);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}

/* BEIGE, über Kamera*/
.h10 {
 
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1300px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(246, 222, 208);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}





/* LILA, unter Animation*/
.h11 {
 
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1250px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    z-index: 999;
    color: rgb(216, 208, 255);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}

/* LILA, über Kamera*/
.h12 {

    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1300px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(216, 208, 255);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}




/* ROT, unter Animation*/
.h13 {
  
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1250px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    z-index: 999;
    color: rgb(170, 38, 36);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}

/* ROT, über Kamera*/
.h14 {

    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1300px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(170, 38, 36);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}




/*Satz strukturiert kapitel 2 */
.h15 {

    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1350px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    z-index: 999;
    color: rgb(246, 222, 208);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}

/*Satz strukturiert kapitel 3 */
.h16 {
 
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;               /* wie h1 */
    margin-top: 1350px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    z-index: 999;
    color: rgb(216, 208, 255);
    text-align: center;
    line-height: 1.2;                      /* wie h1 */
}






.page {
    position: relative;     /* Kinder absolut positionieren relativ zu Page */
    width: 1668px;
    height: 2224px;
    background: rgb(245, 245, 245);
}


#page1 {
    display: block; /* Startseite sichtbar beim Laden */
}

/* KAPITEL 1 SMALLTALK */
#page7,
#page8, 
#page9,
#page10,
#page11,
#page12,
#page13,
#page14,
#page15,
#page16,
#page43,
#page44,
#page55,
#page56 {
    background: rgb(216, 208, 255);
}

/* KAPITEL 2 VERSTÄNDLICHKEIT */
#page18, 
#page19,
#page20,
#page21,
#page22,
#page23,
#page24,
#page25,
#page26,
#page27,
#page45,
#page46,
#page47,
#page48,
#page49,
#page50,
#page51,
#page52 {
    background: rgb(170, 36, 38);
}

/* KAPITEL 3 VORLIEBEN */
#page28, 
#page29,
#page30,
#page31,
#page32,
#page33,
#page34,
#page35,
#page36,
#page37,
#page53,
#page54 {
    background: rgb(11, 11, 130);
}

/* KAPITEL 4 NOTFALL */
#page38,
#page39, 
#page40,
#page41,
#page57,
#page58,
#page3,
#page4 {
    background: rgb(246, 222, 208);
}




/*////////////////////////////////////////////////////////////////*/
.icon_pfeil_back {
    width: 200px;
    position: absolute;
    top: 62px;
    left: 100px;
    cursor: pointer;
    z-index: 999;
}

.icon_pfeil_vor {
    width: 200px;
    position: absolute;
    top: 58px;
    right: 100px;
    cursor: pointer;
    z-index: 999;
}

.icon_Otto {
    width: 1100px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 400px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    z-index: 995;
    object-fit: cover;
}



/*/////////////////////////////////////////////////////////////////*/
/* ICONS KAPITEL*/

.Icon_Smalltalk {
    width: 1800px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 50px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}

.Icon_Verstaendlichkeit {
    width: 1800px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 525px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}

.Icon_Vorlieben {
    width: 1800px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 975px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}

.Icon_Notfall {
    width: 1800px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1425px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}







/*ICONS TOOLBAR///////////////////////////////////////////////////////*/
.icon_Haus {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 15%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Hut {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 32.5%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Kapitel {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 50%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Hand {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 67.5%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.icon_Profil {
    width: 200px;
    position: absolute;    
    bottom: 40px;           
    left: 85%;             
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
}

.Balken {
    width: 100%;
    position: absolute;    
    bottom: 1px;           
    left: 50%;             
    transform: translateX(-50%);
    z-index: 998;

}


/* Buttons */
.Zuruck_An_Den_Anfang {
    width: 600px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1700px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;

}

.Lernlektion_Beenden {
    width: 600px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1650px;            /* vertikal verschieben */
    left: 69.5%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;

}

.Zuruck_zur_Kapitelubersicht{
    width: 600px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1650px;            /* vertikal verschieben */
    left: 31.5%;             /* horizontal zentriert */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999;
}


.ZwischenOtto {
    width: 1050px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 250px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    z-index: 990;
    object-fit: cover;
}









.videoGross {
    width: 1500px;
    position: absolute;   
    top: 100px;            
    left: 50%;             
    transform: translateX(-50%) scaleX(-1);
    z-index: 995;
    object-fit: cover;
}

.videoGrossGABRIEL {
    width: 1450px;
    position: absolute;   
    top: 100px;            
    left: 50%;             
    transform: translateX(-50%) scaleX(-1);
    z-index: 995;
    object-fit: cover;
}



.videoKlein {
    width: 790px;
    position: absolute;   
    top: 75px;            
    left: 50%;             
    transform: translateX(-50%) scaleX(-1);
    z-index: 995;
    object-fit: cover;
}

.videoKleinGABRIEL {
    width: 760px;
    position: absolute;   
    top: 75px;            
    left: 50%;             
    transform: translateX(-50%) scaleX(-1);
    z-index: 995;
    object-fit: cover;
}




.Sticker {
    width: 1050px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1000px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    z-index: 995;
    object-fit: cover;
}



.Bedecken_hoch {
    width: 250px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 275px;            /* vertikal verschieben */
    left: 88%;             /* horizontal zentriert */
    transform: translateX(-50%);
    z-index: 995;
    object-fit: cover;
}

.Bedecken_quer {
    width: 1200px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 1900px;            /* vertikal verschieben */
    left: 50%;             /* horizontal zentriert */
    transform: translateX(-50%);
    z-index: 995;
    object-fit: cover;
}


.Otto_Schild {
    width: 350px;
    position: absolute;    /* absolut innerhalb der Page */
    top: 700px;            /* vertikal verschieben */
    left: 82%;             /* horizontal zentriert */
    transform: translateX(-50%);
    z-index: 999;
    object-fit: cover;
}